<a href="https://github.com/kaichesterni"><img src="https://raw.githubusercontent.com/kaichesterni/tiny-app/master/banner.png" alt="Banner" style="padding:15px;border-radius:25px;" width="500px"></a>
<footer>
  <p>Copyright &copy; 2017 TinyApp&trade;</p>
</footer>
