<meta charset="UTF-8">
<title>Tiny-fy</title>
<style>
  header {
    text-align: left;
  }
  body {
    padding: 20px;
    padding-top: 20px;
    font-family: avenir, sans-serif;
    text-align: center;
  }
  h1 {
    font-family: avenir, sans-serif;
    font-size: 40px;
  }
  a {
    font-size: 14px;
    color: #888;
  }
  input, button {
    border-radius: 4px;
    border-style: none;
    padding: 10px;
    font-size: 15px;
  }
  input {
    height: 40px;
    width: 40%;
    font-family: avenir-light, sans-serif;
    background-color: #e3e3e3;
  }
  button {
    height: 60px;
    width: 150px;
    font-family: avenir-heavy, sans-serif;
    background-color: #ed187e;
    color: #eee;
  }
  #footer {
    font-size: 13px;
    color: #c7c7c7;
  }
  #nav {
    padding: 5px;
    height: 40px;
    width: 60px;
    font-family: avenir, sans-serif;
    font-size: 14px;
    text-align: left;
    background-color: white;
  }
</style>
