<img src="https://raw.githubusercontent.com/kaichesterni/tiny-app/master/logo.png" alt="TinyApp&trade; logo" width="200px">
<br><br>
<div>
  <form class="nav" method="GET" action="/"><input type="submit" value="Shorten"></form>
  <form class="nav" method="GET" action="/urls"><input type="submit" value="Database"></form>
  <% if (email !== "guest") { %>
    <form class="nav" method="POST" action="/logout">
      <button class="status" disabled>Welcome, <%= email %></button>
      <input type="submit" value="Logout">
    </form>
  <% } else { %>
    <form class="nav" method="POST" action="/login">
      <input type="email" name="email" style="width:150px;" placeholder="Email">
      <input type="text" name="password" style="width:100px;" placeholder="Password">
      <input type="submit" value="Login">
      <a href="/register"><input type="button" value="Register"></a>
    </form>
  <% } %>
</div>
