<img src="https://raw.githubusercontent.com/kaichesterni/tiny-app/master/logo.png" alt="TinyApp&trade; logo" width="200px">
<br><br>
<div>
  <a href="/">Shorten</a>
  <a href="/urls">Database</a>
</div>
