<!DOCTYPE html>
<html >
  <head>
    <title>TinyApp&trade; - Error <%= code %></title>
    <% include partials/_head %>
    <style>
    body {
      padding: 5% 10% 10% 10%;
      font-family: avenir, sans-serif;
      word-wrap: break-word;
    }
    h1 {
      font-size: 60px;
      font-family: cHocolava;
    }
    button {
      padding: 10px 20px;
      height: 50px;
      font-size: 18px;
    }
    </style>
  </head>
  <body>
    <img src="https://raw.githubusercontent.com/kaichesterni/tiny-app/master/error.png" alt="Error" height="65px"><br>
    <h2><%= message %></h2>
    <a href="/"><button class="blue">Go home?</button></a><br><br>

    <p style="font-size: 11px;">
      <% for (var i = 0; i < 2500; i ++) { %>
        4 0
      <% } %>
      Hey there!
      <% for (var i = 0; i < 1500; i ++) { %>
        4 0
      <% } %>
    </p>
  </body>
</html>
