<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <img src="https://raw.githubusercontent.com/kaichesterni/tiny-app/master/logo.png" alt="TinyApp&trade; logo" width="200px">
    <br><br>
    <div>
      <form class="nav" method="GET" action="/"><button class="status" type="submit">Shorten <i class="fa fa-compress" aria-hidden="true"></i></button></form>
      <form class="nav" method="GET" action="/urls"><button class="status" type="submit">TinyLinks&trade; <i class="fa fa-database" aria-hidden="true"></i></button></form>
      <a href="/login"><button class="status" type="submit">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button></a>
    </div>
    <form method="POST" action="/register">
      <input type="email" name="email" placeholder="Email">
      <input type="password" name="password" placeholder="Password">
      <input class="blue" type="submit" value="Register">
    </form>
    <% include partials/_footer.ejs %>
  </body>
</html>
