<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <form action="/urls" method="POST">
      <input id="longURL" type="text" name="longURL" style="width:500px;" placeholder="Paste a link to shorten it">
      <input class="blue" type="submit" value="Shorten" >
    </form>
    <% include partials/_footer.ejs %>
  </body>
</html>
