<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <br>
    <table>
      <tr>
        <th>Short</th>
        <th>Original URL</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% for (var url in urls) { %>
        <tr>
          <td><%= url %></td>
          <td><%= urls[url] %></td>
          <td>
            <form method="GET" action="/urls/<%= url %>/edit">
              <button type="submit"><i class="fa fa-pencil-square-o"></i></button>
            </form>
          </td>
          <td>
            <form method="POST" action="/urls/<%= url %>/delete">
              <button type="submit"><i class="fa fa-trash"></i></button>
            </form>
          </td>
        </tr>
      <% } %>
    </table>

    <% include partials/_footer.ejs %>
  </body>
</html>
