<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <form method="GET" action="/urls">
      <input class="blue" style="width:500px;" value="Successfully shortened link from '<%= url %>' to '<%= id %>'" disabled>
    </form>
    <% include partials/_footer.ejs %>
  </body>
</html>
