<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <br>
    <table class="success"><tr><td>Successfully shortened link from "<%= url %>" to "<%= id %>"!</td></tr></table>
    <br>
    <a href="/urls">View all links</a>
    <% include partials/_footer.ejs %>
  </body>
</html>
