<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <form method="POST" action="/urls?key=<%= url %>">
      <button class="status" disabled>Short URL: <%= url %></button>
      <input id="longURL" type="text" name="longURL" placeholder="<%= urls[url] %>" style="width:300px;">
      <input type="submit" value="Shorten" class="blue">
    </form>
    <% include partials/_footer.ejs %>
  </body>
</html>
