<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <br>
    <form action="/urls" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder="Paste a link to shorten it" style="width: 500px">
      <input type="submit" value="Submit" style="color:white;background-color:#1597eb;">
    </form>
    <% include partials/_footer.ejs %>
  </body>
</html>
