<html lang="en">
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_header %>
    <p>Shortened || Original</p>
    <% for (var url in urls) { %>
      <p><%= url %> || <%= urls[url] %></p>
    <% } %>
    <% include partials/_footer.ejs %>
  </body>
</html>
