<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <p>shortURL : longURL</p>
  <% for (var url in urls) { %>
    <p><%= url %> : <%= urls[url] %></p>
  <% } %>
</body>
</html>
